#col-1 {
    background-color:#e6889a;
    border: #fcf9fa;
    max-width: 42rem;
    min-height: 40rem;
    margin: 5vmin 0vmin 5vmin 0vmin;
    padding: 15vmin 0vmin 0vmin 0vmin;
    display: flex;
    flex-wrap: wrap;
}
#col-2 {
    border: #e6889a solid;
    max-width: 42rem;
    min-height: 40rem;
    margin: 5vmin 0vmin 5vmin 0vmin;
    padding: 0;
    background:url('images/pink-bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}
.cont {
    background: #f3c3d4;
}
.log {
    background:url('images/new1.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-size: 100% 100%;
}
.section {
    padding: 0;
    margin: 0vmin 5vmin 0vmin 5vmin;
}
.heading {
    padding: 3vmin 0vmin 3vmin 0vmin;
}
.box {
    padding: 2vmin 0vmin 2vmin 0vmin;
}
.place {
    box-shadow: 5px 10px 8px #888888;
}
.btn {
    background-color: #e6889a;
    color: #FFF;
    box-shadow: 5px 10px 8px #888888;
    padding: 0vmin 6.5vmin 0vmin 6.5vmin;
}
.btn-light {
    float: left;
}
.nav-item:hover {
    border-bottom: 2px solid #e6889a;
    color: #e6889a;
}
.container-fluid, .prod, .row, .col-md-6, .nav, .img, .ref {
    padding: 0;
}
.ref, .top, .head{
    height: 6rem;
}
.container-fluid, .row {
    width: 1518px;
    margin: 0%;
}
.top {
    background-color: #dd819f;
}
.prod {
    background-color: #dd819f;
    border: #FFF 2px solid;
    color: black;
    text-decoration: none;
    display: inline-block;
    min-height: 25rem;
}
.products {
    text-align:center;
    margin:0 auto;
}
.img {
    border: #FFF 2px solid;
}